# build
_site

# dependencies
node_modules/

# jekyll
.jekyll-cache
.jekyll-metadata
bundler

# misc
.DS_Store
.idea/
.iml
.log
.sass-cache
.vscode/

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
