<h2>📶 Making Buildings Wireless Friendly</h2>

<p>This project involved creating a website that explains how wireless signals work and introduces <strong>FSS (Frequency Selective Surfaces)</strong>—a technology that helps manage signal interference in wireless communication.</p>

<p>The main feature is an <strong>HTML5 canvas</strong> that shows how wireless access points behave in different situations. The interactive applet visualises the signal quality with green (good) and red (bad) areas. There are 6 scenarios, each introducing new elements like additional access points, walls, and changes to the access points' channel/transmit power. Users can also adjust the resistance of the walls.</p>

<p>This research was conducted by <a href='https://www.kent.ac.uk/engineering-digital-arts/people/623/batchelor-john' target='_blank' rel='noopener noreferrer'>Dr. John Batchelor</a>, Reader in Antenna Technology at the University of Kent, and <a href='http://web.ece.auckland.ac.nz/uoa/michael-neve' target='_blank' rel='noopener noreferrer'>Dr. Michael Neve</a>, Senior Lecturer in Telecommunications and Electromagnetics at the University of Auckland, New Zealand.</p>

<img src='{{ site.baseurl }}/assets/wfbf-uni.png'
  srcset='{{ site.baseurl }}/assets/wfbf-uni@2x.png 2x'
  alt='Logos of the University of Kent and the University of Auckland'
/>

<p style='opacity: 0.8'><a href='http://wfbf.eda.kent.ac.uk/index.php' target='_blank'>Curious?</a></p>
