<h2><span aria-hidden='true'>👨🏻‍💻</span>&nbsp;About</h2>
<img src='{{ site.baseurl }}/assets/profile.jpg' srcset='{{ site.baseurl }}/assets/profile@2x.jpg 2x' alt='Profile picture of Patrick Taylor'/>
<p>Using the best practised web standards and latest technologies, I create beautiful, professional websites with intuitive and rich user experiences.</p>
<p>My current goal is to contribute more to the open-source community.</p>
<p>I have a BSc in Multimedia Technology and Design and an MSc in Mobile Application Design; both from the University of Kent.</p>
<p>I am learning Portuguese and frequently visit Brazil.<br/><span class='comment'>// Estou aprendendo português e frequentemente visito o Brasil.</span></p>
