<h2><span aria-hidden='true'>👨🏻‍💻</span>&nbsp;About</h2>

<picture>
  <source srcset='{{ site.baseurl }}/assets/profile.webp' type='image/webp'>
  <source srcset='{{ site.baseurl }}/assets/profile@2x.jpg 2x' type='image/jpg'>
  <img src='{{ site.baseurl }}/assets/profile.jpg' alt='Profile picture of Patrick Taylor'/>
</picture>

<p>As a senior software engineer, I specialise in building scalable, high-performance web applications that use modern technologies and best practices to deliver seamless user experiences.</p>

<p>I'm passionate about open-source development and actively look for opportunity to contribute to the community, whether through code, documentation, or collaboration.</p>

<p>I have a BSc in Multimedia Technology and Design and an MSc in Mobile Application Design, both from the University of Kent.</p>

<p>I am learning Portuguese and frequently visit Brazil.<br/><span class='comment'>// Estou aprendendo português e frequentemente visito o Brasil.</span></p>
