<h1>
  <span id='flag' aria-hidden='true'>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span id='greeting' aria-hidden='true'></span>
  <span class='visually-hidden'>Hello</span>
</h1>

<p>I'm Patrick Taylor, a software engineer based in London, specialising in frontend development.</p>

<p>With a passion for designing scalable architectures and solving complex problems, I build high-performance, reusable, and accessible applications that enhance user experiences and streamline development processes.</p>

<p>I also work with backend services, designing architectures and building GraphQL APIs to improve developer experience and optimise performance on the client side.</p>
