<h2>☕️ Social</h2>
<div class='social'>
  <a href='http://instagram.com/01taylop' title='Instagram' target='_blank' rel='noopener noreferrer'>
    <i class='icon-instagram'></i>
  </a>
  <a href='http://www.twitter.com/patchfalcon' title='Twitter' target='_blank' rel='noopener noreferrer'>
    <i class='icon-twitter'></i>
  </a>
  <a href='http://uk.linkedin.com/in/ptemedia' title='LinkedIn' target='_blank' rel='noopener noreferrer'>
    <i class='icon-linkedin'></i>
  </a>
  <a href='http://stackoverflow.com/users/1359306/patrick' title='Stack Overflow' target='_blank' rel='noopener noreferrer'>
    <i class='icon-stackoverflow'></i>
  </a>
</div>
