<div class='social'>
  <h2><span aria-hidden='true'>☕️</span>&nbsp;Social</h2>
  <a href='https://www.instagram.com/01taylop/' title="Instagram" aria-label='Visit Patrick&apos;s Instagram Page' target='_blank' rel='noopener noreferrer'>
    <i class='icon-instagram'></i>
  </a>
  <a style="cursor: not-allowed; opacity: 0.2;">
    <i class='icon-twitter'></i>
  </a>
  <a href='https://www.linkedin.com/in/patrick-taylor1/' title="LinkedIn" aria-label='Visit Patrick&apos;s LinkedIn Profile' target='_blank' rel='noopener noreferrer'>
    <i class='icon-linkedin'></i>
  </a>
  <a href='https://stackoverflow.com/users/1359306/patrick' title="Stack Overflow" aria-label='Visit Patrick&apos;s Stack Overflow Profile' target='_blank' rel='noopener noreferrer'>
    <i class='icon-stackoverflow'></i>
  </a>
</div>
