@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

* {
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #fff;
  color: $font-color;
  font-family: 'Comfortaa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;

  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 17px 40px 13px;
  background-color: rgba(0,0,0,0.1);

  h1 {
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    margin: 0;
  }
}

#home {
  section {
    min-height: 100vH;
    padding: 80px 20px;
    h2 {
      text-align: center;
    }
    &:nth-child(odd) {
      background-color: #4abdac;
      h2 {
        color: #fff;
      }
    }
    &:nth-child(even) {
      background-color: #fc4a1a;
      h2 {
        color: #fff;
      }
    }
  }
}
