@font-face {
  // sass-lint:disable no-duplicate-properties
  font-family: 'portfolio';
  font-style: normal;
  font-weight: normal;
  font-display: auto;

  src: url('../../fonts/portfolio/portfolio.eot?dga1cg');
  src: url('../../fonts/portfolio/portfolio.eot?dga1cg#iefix') format('embedded-opentype'),
  url('../../fonts/portfolio/portfolio.ttf?dga1cg') format('truetype'),
  url('../../fonts/portfolio/portfolio.woff?dga1cg') format('woff'),
  url('../../fonts/portfolio/portfolio.svg?dga1cg#portfolio') format('svg');
}

[class^='icon-'], [class*=' icon-'] {
  font-family: 'portfolio' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  user-select: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$portfolio-icons: (
  instagram: '\ea92',
  twitter: '\ea96',
  github: '\eab0',
  linkedin: '\eac9',
  stackoverflow: '\ead0',
);

@each $key, $value in $portfolio-icons {
  .icon-#{$key} {
    &::before {
      content: $value;
    }
  }
}
