.grid-container {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  padding: 16px;

  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 16px;

  @include media('screen', '>=xlarge') {
    grid-gap: 24px;
  }
}

.grid {
  display: grid;
  flex-grow: 2;

  grid-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  @include media('screen', '>=xlarge') {
    grid-gap: 24px;
  }

  &-main {
    grid-template-areas:
    'header'
    'work';

    @include media('screen', '>=medium') {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'header header work';
    }
    @include media('screen', '>=large') {
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas: 'header header header header header work work work';
    }
  }

  &-projects {
    grid-template-areas:
    'london'
    'wfb';

    @include media('screen', '>=large') {
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas: 'london london london london wfb wfb wfb wfb';
    }
  }

  &-information {
    grid-template-areas:
    'about'
    'skills'
    'social'
    'contact';

    @include media('screen', '>=small') {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      'about about'
      'skills social'
      'contact contact';
    }
    @include media('screen', '>=medium') {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      'about about about'
      'skills social contact';
    }
    @include media('screen', '>=large') {
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas:
      'about about about about skills skills social social'
      'about about about about skills skills contact contact';
    }
  }
}
