@use '../mixins/_media-queries' as *;

.grid {
  display: grid;
  max-width: 1500px;
  margin: 0 auto;
  padding: 16px;

  grid-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  'header'
  'work'
  'about'
  'skills'
  'social'
  'contact';

  @include media('screen', '>=small') {
    padding: 16px;
    grid-gap: 16px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'header header'
    'work work'
    'about about'
    'skills skills'
    'social contact';
  }
  @include media('screen', '>=medium') {
    padding: 24px;
    grid-gap: 24px;

    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    'header header header header header work work work work'
    'about about about about about about about about about'
    'skills skills skills social social social contact contact contact';
  }
  @include media('screen', '>=large') {
    padding: 40px;
    grid-gap: 26px;

    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
    'header header header header header work work work'
    'about about about about skills skills social social'
    'about about about about skills skills contact contact';
  }
}
