.grid {
  section {
    padding: 16px;
    background-color: rgba(0, 0, 0, .1);

    h1, h2, p, a {
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    h1 {
      margin: 0 0 26px;
      font-size: 34px;
      line-height: 38px;
    }

    h2 {
      margin: 0 0 10px;
      font-size: 26px;
      line-height: 34px;
    }

    p {
      margin: 0 0 10px;
      font-size: 16px;
      line-height: 24px;
    }

    a {
      transition: opacity .2s ease;
      &:hover {
        @include opacity(.6);
      }
    }

    img {
      max-width: 100%;
    }

    *:last-child {
      margin-bottom: 0;
    }

    &.item-header {
      grid-area: header;

      h1 {
        display: inline-block;
        padding-right: 5px;
        border-right: 3px solid #fff;
        animation: blink-caret 1.2s step-end infinite;
        & + p {
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
    &.item-work {
      grid-area: work;

      img {
        @include opacity(.6);

        margin-top: 10px;
      }
    }
    &.item-london {
      grid-area: london;

      img {
        @include opacity(.8);
      }
    }
    &.item-wfb {
      grid-area: wfb;

      img {
        padding: 10px;
        background: rgba(255, 255, 255, .6);
      }
    }
    &.item-about {
      grid-area: about;

      img {
        margin: 0 20px 10px 0;
        border-radius: 50%;
      }
    }
    &.item-skills {
      grid-area: skills;
    }
    &.item-social {
      grid-area: social;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        flex-grow: 2;

        a {
          padding: 10px;
          font-size: 30px;
          text-decoration: none;
          justify-self: center;
          align-self: center;
        }

        @include media('screen', '>=small') {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        }
        @include media('screen', '>=medium') {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
        }
        @include media('screen', '>=large') {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
        }
      }
    }
    &.item-contact {
      grid-area: contact;
    }
  }
}
