@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

* {
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vH;
  min-width: 100vW;
  background-color: #E73C7E;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  color: $font-color;
  font-family: 'Comfortaa', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;

  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-animation: gradient 60s ease infinite;
  -moz-animation: gradient 60s ease infinite;
  animation: gradient 60s ease infinite;
}

// On mobile, hide content - show based on scroll position
// Show content on hover, focus?
// Move gradient based on mouse position?

.grid {
  display: grid;
  min-height: 100vH;
  min-width: 100vW;
  padding: 10px;

  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "work"
    "london"
    "wfb"
    "about"
    "skills"
    "social"
    "contact";

  @include media('screen', '>=small') {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "work work"
      "london london"
      "wfb wfb"
      "about about"
      "skills social"
      "contact contact";
  }
  @include media('screen', '>=medium') {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header work"
      "london london london"
      "wfb wfb wfb"
      "about about about"
      "skills social contact";
  }
  @include media('screen', '>=large') {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header header work work work"
      "london london london london wfb wfb wfb wfb"
      "about about about about skills skills social social"
      "about about about about skills skills contact contact";
  }

  section {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 16px;

    &.item-header {
      grid-area: header;
    }
    &.item-work {
      grid-area: work;

      img {
        @include opacity(0.6);

        margin-top: 10px;
      }
    }
    &.item-london {
      grid-area: london;
    }
    &.item-wfb {
      grid-area: wfb;
    }
    &.item-about {
      grid-area: about;

      img {
        border-radius: 50%;
        margin: 0 20px 10px 0;
      }
    }
    &.item-skills {
      grid-area: skills;
    }
    &.item-social {
      grid-area: social;
    }
    &.item-contact {
      grid-area: contact;
    }

    h1 {
      margin: 0 0 26px 0;
      color: #fff;
      font-size: 34px;
      line-height: 38px;
    }

    h1 + p {
      font-size: 22px;
      line-height: 32px;
    }

    h2 {
      margin: 0 0 10px 0;
      color: #fff;
      font-size: 26px;
      line-height: 34px;
    }

    p {
      margin: 0 0 10px 0;
      color: #fff;
      font-size: 18px;
      line-height: 26px;
    }

    a {
      color: #fff;
      transition: opacity .2s ease;
      &:hover {
        @include opacity(0.6);
      }

      &.icon-link {
        font-size: 24px;
        text-decoration: none;
        margin-right: 10px;
      }
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}
